html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  font-family: 游明朝体, YuMincho, "游明朝 Medium", "Yu Mincho Medium", 游明朝, "Yu Mincho", serif;
  background-color: #FAF5ED;
}

.page-header{
  width: auto;
  height: 80px;
  background-color: #5B442A;
}

.page-header h1{
  color: white;
  font-size: 32px;
  padding:20px 0 0 413px;
  font-weight: normal;
}

.page-header h1 span{
  font-size: 20px;
}

.main-photo{
  height:715px;
  width: 1792px;
}

.main-contents .container{
  width: 950px;
  height: 1000px;
  margin: 0 auto;
}

.main-contents .container h1{
  padding: 55px 0 33px 0;
  font-size: 36px;
  color: #707070;
}

.main-contents .container h1 span{
  font-size: 24px;
}

.sub-contents img{
  float:left;
}

.sub-contents{
  margin-bottom: 30px;
  height: 280px;
}

.sub-contents p{
  width: 454px;
  display: inline-block;
  float: left;
  padding-left: 16px;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
}

.main-bottom{
  text-align: center;
  padding: 20px 0 20px 0;
}

.main-bottom h1{
  padding: 55px 0 33px 0;
  font-size: 36px;
}

.main-bottom h1 a{
  color: #707070;
}

.main-bottom h1 a:hover{
  text-decoration: none;
}

.main-bottom h1 span{
  font-size: 24px;
}

.page-footer{
  height: 60px;
  background-color: #5B442A;
  text-align: center;
  position: relative;
}

.page-footer small{
  color: white;
  position: absolute;
  top: 20px;
  left: 825px;
}